/*-------  ここから共通のCSS  --------*/
body {
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #888;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #323A45;
  transition: all .3s;
}

a:hover {
  color: #5983ff;
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

h4, h5 {
  color: #444;
  font-size: 18px;
}

h3:before, h3:after{
  content: "";
  background-color: #616161;
  display: inline-block;
  width: 120px;
  height: 1px;
  margin: 0 6rem;
  vertical-align: middle;
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-title {
  color: #555;
  padding-top: 60px;
  padding-bottom: 10px;
  text-align: center;
}

.section-title h3 {
  margin: 10px 0;
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
}

.gray-section {
  background: #f4f4f4;
  color: #888;
}
/*-------  ここまで共通のCSS  --------*/

/*-------  ここからheader  --------*/
header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  line-height: 50px;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
  z-index: 10;
}

.header-title {
  float: left;
}

.header-logo {
  color: #777;
  font-weight: 700;
  font-size: 22px;
  font-family: 'Dosis', sans-serif;
  cursor: pointer;
}

.header-menu-right {
  float: right;
}

.header-menu-right li {
  float: left;
}

.header-menu-right a {
  color: #323A45;
  font-weight: 700;
  padding: 10px;
  text-decoration: none;
}

.header-menu-right a:hover {
  color: #5983ff;
  transition: color .3s;
}
/*-------  ここまでheader  --------*/

/*-------  ここからtop content  --------*/
.top-section {
  margin: 0 auto;
  text-align: center;
  background-image: url("AdobeStock_188318709.jpeg");
  background-size: cover;
}

.top-inner {
  padding: 0;
  padding-top: 180px;
  padding-bottom: 120px;
  background-color: rgba(0, 0, 0, 0.3);
}

.top-description {
  margin-top: 30px;
  margin-bottom: 20px;
}

.top-section h2 {
  font-family: 'Dosis', sans-serif;
  color: #d0d0d0;
  font-size: 48px;
  line-height: 54px;
  margin: 10px 0 30px 0;
  font-weight: 400;
}

.top-description p {
  color: #bababa;
  font-size: 18px;
  line-height: 30px;
}

.top-section .top-button {
  margin-top: 40px;
  margin-bottom: 40px;
}

/*-------  ここまでtop content  --------*/

/*-------  ここからevents  --------*/
.stamps-section {
  text-align: center;
  padding-bottom: 60px;
  font-family: 'Dosis', sans-serif;
}

#stamps > .container {
  width: 936px;
}

.stamp-box {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
}

.stamp-image {
  width: 400px;
  height: 400px;
  margin: 10px 0;
  padding: 0px;
}

#stamp-carousel img {
  display: inline-block;
}

#stamp-carousel li {
  background-color: #869791;
}
.carousel-indicators {
  z-index: 5;
}

.stamp-link {
  color: #5983ff;
}

/*-------  ここまでevents  --------*/

/*-------  ここからabout  --------*/


.about-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.about {
  float: left;
  width: 25%;
}

.about-icon {
  position: relative;
  opacity: 0.5;
}

.about-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: black;
  font-size: 19px;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

/*-------  ここまでabout  --------*/

/*-------  ここからcontact  --------*/
.contact-section {
  color: #6a6a6a;
  text-align: center;
  font-family: 'Dosis', sans-serif;

}

.contact-section-inner {
  padding-bottom: 70px;
}

.contact-section h3, .contact-section h4 {
  color: #404040;
}

.contact-section h4 {
  font-size: 22px;
  padding-bottom: 10px;
}

.contact-about {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

.contact-about i {
  padding-right: 15px;
  font-size: 18px;
}

.contact-about p {
  margin: 0 0 24px;
  line-height: 24px;
}

/*-------  ここまでcontact  --------*/

/*-------  ここからfooter  --------*/
footer {
  text-align: center;
  padding: 40px 0;
  color: #999;
  background-color: #222;
}

.contact-form {
  text-align: center;
}


.copyright {
  margin-top: 20px;
  text-align: center;
}
/*-------  ここまでfooter  --------*/
